<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alf.highest.personal.mapper.BwtConnectorTemplatePriceMapper" >
  <resultMap id="BaseResultMap" type="com.alf.highest.personal.pojo.BwtConnectorTemplatePrice" >
    <id column="templateprice" property="templateprice" jdbcType="INTEGER" />
    <result column="templategoodsykgprice" property="templategoodsykgprice" jdbcType="DOUBLE" />
    <result column="templategoodsykg" property="templategoodsykg" jdbcType="DOUBLE" />
    <result column="templateoverload" property="templateoverload" jdbcType="DOUBLE" />
    <result column="templatepacking" property="templatepacking" jdbcType="VARCHAR" />
    <result column="templatetitle" property="templatetitle" jdbcType="VARCHAR" />
    <result column="personalid" property="personalid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    templateprice, templategoodsykgprice, templategoodsykg, templateoverload, templatepacking, 
    templatetitle, personalid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bwt_connector_template_price
    where templateprice = #{templateprice,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bwt_connector_template_price
    where templateprice = #{templateprice,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alf.highest.personal.pojo.BwtConnectorTemplatePrice" >
    insert into bwt_connector_template_price (templateprice, templategoodsykgprice, 
      templategoodsykg, templateoverload, templatepacking, 
      templatetitle, personalid)
    values (#{templateprice,jdbcType=INTEGER}, #{templategoodsykgprice,jdbcType=DOUBLE}, 
      #{templategoodsykg,jdbcType=DOUBLE}, #{templateoverload,jdbcType=DOUBLE}, #{templatepacking,jdbcType=VARCHAR}, 
      #{templatetitle,jdbcType=VARCHAR}, #{personalid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.alf.highest.personal.pojo.BwtConnectorTemplatePrice" >
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="templateprice">
          SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bwt_connector_template_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templateprice != null" >
        templateprice,
      </if>
      <if test="templategoodsykgprice != null" >
        templategoodsykgprice,
      </if>
      <if test="templategoodsykg != null" >
        templategoodsykg,
      </if>
      <if test="templateoverload != null" >
        templateoverload,
      </if>
      <if test="templatepacking != null" >
        templatepacking,
      </if>
      <if test="templatetitle != null" >
        templatetitle,
      </if>
      <if test="personalid != null" >
        personalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templateprice != null" >
        #{templateprice,jdbcType=INTEGER},
      </if>
      <if test="templategoodsykgprice != null" >
        #{templategoodsykgprice,jdbcType=DOUBLE},
      </if>
      <if test="templategoodsykg != null" >
        #{templategoodsykg,jdbcType=DOUBLE},
      </if>
      <if test="templateoverload != null" >
        #{templateoverload,jdbcType=DOUBLE},
      </if>
      <if test="templatepacking != null" >
        #{templatepacking,jdbcType=VARCHAR},
      </if>
      <if test="templatetitle != null" >
        #{templatetitle,jdbcType=VARCHAR},
      </if>
      <if test="personalid != null" >
        #{personalid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alf.highest.personal.pojo.BwtConnectorTemplatePrice" >
    update bwt_connector_template_price
    <set >
      <if test="templategoodsykgprice != null" >
        templategoodsykgprice = #{templategoodsykgprice,jdbcType=DOUBLE},
      </if>
      <if test="templategoodsykg != null" >
        templategoodsykg = #{templategoodsykg,jdbcType=DOUBLE},
      </if>
      <if test="templateoverload != null" >
        templateoverload = #{templateoverload,jdbcType=DOUBLE},
      </if>
      <if test="templatepacking != null" >
        templatepacking = #{templatepacking,jdbcType=VARCHAR},
      </if>
      <if test="templatetitle != null" >
        templatetitle = #{templatetitle,jdbcType=VARCHAR},
      </if>
      <if test="personalid != null" >
        personalid = #{personalid,jdbcType=INTEGER},
      </if>
    </set>
    where templateprice = #{templateprice,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alf.highest.personal.pojo.BwtConnectorTemplatePrice" >
    update bwt_connector_template_price
    set templategoodsykgprice = #{templategoodsykgprice,jdbcType=DOUBLE},
      templategoodsykg = #{templategoodsykg,jdbcType=DOUBLE},
      templateoverload = #{templateoverload,jdbcType=DOUBLE},
      templatepacking = #{templatepacking,jdbcType=VARCHAR},
      templatetitle = #{templatetitle,jdbcType=VARCHAR},
      personalid = #{personalid,jdbcType=INTEGER}
    where templateprice = #{templateprice,jdbcType=INTEGER}
  </update>
    <delete id="deleteMiddleByTemplate" parameterType="java.lang.Integer" >
  	delete  from bwt_template_middle_area where templateprice = ${templateprice};
  </delete>
  <insert id="addTemplateMiddle" parameterType="java.lang.Integer">
  	insert into bwt_template_middle_area (id,templateprice) VALUES (${id},${templateprice})
  </insert>
  <select id="selectAllTemplatePrice" resultType="com.alf.highest.personal.pojo.BwtConnectorTemplatePrice" parameterType="java.lang.String">
  	SELECT * FROM bwt_connector_template_price
  	where  personalid = #{personalid}
  		<if test="templatetitle != null">
  			and templatetitle LIKE '${templatetitle}'
  		</if>
  		<if test="addressid != null">
  			and templateprice NOT IN (SELECT templateprice FROM `template_address` WHERE addressid = #{addressid})
  		</if>
  </select>
  <select id="selectAllByTemplatepriceAreaname" parameterType="java.lang.Integer" resultType="java.lang.String">
  	SELECT p.areaname FROM bwt_template_middle_area t LEFT JOIN `pb_area` p ON(t.`id` = p.`id`) WHERE t.`templateprice` = ${templateprice}
  </select>
  <select id="selectAllByTemplatepriceId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	SELECT t.id FROM bwt_template_middle_area t WHERE t.`templateprice` = ${templateprice}
  </select>
  <delete id="delTemplateDataTemplate" parameterType="java.lang.Integer">
  	DELETE
	FROM
		`template_address`
	WHERE  (`templateprice` = ${templateprice})
  </delete>
</mapper>