<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alf.highest.personal.mapper.BwtConnectorAlonePriceMapper" >
  <resultMap id="BaseResultMap" type="com.alf.highest.personal.pojo.BwtConnectorAlonePrice" >
    <id column="aloneprice" property="aloneprice" jdbcType="INTEGER" />
    <result column="alonegoodsykgprice" property="alonegoodsykgprice" jdbcType="DOUBLE" />
    <result column="alonegoodsykg" property="alonegoodsykg" jdbcType="DOUBLE" />
    <result column="aloneoverload" property="aloneoverload" jdbcType="DOUBLE" />
    <result column="alonepacking" property="alonepacking" jdbcType="VARCHAR" />
    <result column="addressid" property="addressid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    aloneprice, alonegoodsykgprice, alonegoodsykg, aloneoverload, alonepacking, addressid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bwt_connector_alone_price
    where aloneprice = #{aloneprice,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bwt_connector_alone_price
    where aloneprice = #{aloneprice,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alf.highest.personal.pojo.BwtConnectorAlonePrice" >
    insert into bwt_connector_alone_price (aloneprice, alonegoodsykgprice, alonegoodsykg, 
      aloneoverload, alonepacking, addressid
      )
    values (#{aloneprice,jdbcType=INTEGER}, #{alonegoodsykgprice,jdbcType=DOUBLE}, #{alonegoodsykg,jdbcType=DOUBLE}, 
      #{aloneoverload,jdbcType=DOUBLE}, #{alonepacking,jdbcType=VARCHAR}, #{addressid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alf.highest.personal.pojo.BwtConnectorAlonePrice" >
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="aloneprice">
          SELECT LAST_INSERT_ID()
      </selectKey>
    insert into bwt_connector_alone_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aloneprice != null" >
        aloneprice,
      </if>
      <if test="alonegoodsykgprice != null" >
        alonegoodsykgprice,
      </if>
      <if test="alonegoodsykg != null" >
        alonegoodsykg,
      </if>
      <if test="aloneoverload != null" >
        aloneoverload,
      </if>
      <if test="alonepacking != null" >
        alonepacking,
      </if>
      <if test="addressid != null" >
        addressid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aloneprice != null" >
        #{aloneprice,jdbcType=INTEGER},
      </if>
      <if test="alonegoodsykgprice != null" >
        #{alonegoodsykgprice,jdbcType=DOUBLE},
      </if>
      <if test="alonegoodsykg != null" >
        #{alonegoodsykg,jdbcType=DOUBLE},
      </if>
      <if test="aloneoverload != null" >
        #{aloneoverload,jdbcType=DOUBLE},
      </if>
      <if test="alonepacking != null" >
        #{alonepacking,jdbcType=VARCHAR},
      </if>
      <if test="addressid != null" >
        #{addressid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alf.highest.personal.pojo.BwtConnectorAlonePrice" >
    update bwt_connector_alone_price
    <set >
      <if test="alonegoodsykgprice != null" >
        alonegoodsykgprice = #{alonegoodsykgprice,jdbcType=DOUBLE},
      </if>
      <if test="alonegoodsykg != null" >
        alonegoodsykg = #{alonegoodsykg,jdbcType=DOUBLE},
      </if>
      <if test="aloneoverload != null" >
        aloneoverload = #{aloneoverload,jdbcType=DOUBLE},
      </if>
      <if test="alonepacking != null" >
        alonepacking = #{alonepacking,jdbcType=VARCHAR},
      </if>
      <if test="addressid != null" >
        addressid = #{addressid,jdbcType=INTEGER},
      </if>
    </set>
    where aloneprice = #{aloneprice,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alf.highest.personal.pojo.BwtConnectorAlonePrice" >
    update bwt_connector_alone_price
    set alonegoodsykgprice = #{alonegoodsykgprice,jdbcType=DOUBLE},
      alonegoodsykg = #{alonegoodsykg,jdbcType=DOUBLE},
      aloneoverload = #{aloneoverload,jdbcType=DOUBLE},
      alonepacking = #{alonepacking,jdbcType=VARCHAR},
      addressid = #{addressid,jdbcType=INTEGER}
    where aloneprice = #{aloneprice,jdbcType=INTEGER}
  </update>
  <delete id="deleteMiddleByAloneprice" parameterType="java.lang.Integer" >
  	delete * from bwt_alone_middle_area where aloneprice = ${aloneprice};
  </delete>
  <insert id="addUpMiddle" >
  	INSERT INTO bwt_alone_middle_area VALUES
  	<foreach collection="listBMA" item="each" separator="," >  
           (#{each.id} , #{each.aloneprice}) 
    </foreach>  
  </insert>
  <select id="selectAllAlonelPrice" parameterType="java.lang.Integer" resultType="com.alf.highest.personal.pojo.BwtConnectorAlonePrice">
  	select * from bwt_connector_alone_price p where p.addressid = ${addressid}
  </select>
  <select id="selectByAlonepriceAreaname" parameterType="java.lang.Integer" resultType="java.lang.String">
  	SELECT areaname FROM `bwt_alone_middle_area` m LEFT JOIN `pb_area` a ON (m.`id` = a.`id`) WHERE m.aloneprice = ${aloneprice}
  </select>
</mapper>