<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alf.highest.personal.mapper.BwtConnectorAddressMapper" >
  <resultMap id="BaseResultMap" type="com.alf.highest.personal.pojo.BwtConnectorAddress" >
    <id column="addressid" property="addressid" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="street" property="street" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="describes" property="describes" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="dateset" property="dateset" jdbcType="TIMESTAMP" />
    <result column="personalid" property="personalid" jdbcType="INTEGER" />
    <result column="istemplate" property="istemplate" jdbcType="INTEGER" />
    <result column="updataset" property="updataset" jdbcType="TIMESTAMP" />
    <result column="accurate" property="accurate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    addressid, province, city, area, street, price, describes, phone, dateset, personalid, 
    istemplate, updataset, accurate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bwt_connector_address
    where addressid = #{addressid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bwt_connector_address
    where addressid = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alf.highest.personal.pojo.BwtConnectorAddress" >
    insert into bwt_connector_address (addressid, province, city, 
      area, street, price, 
      describes, phone, dateset, 
      personalid, istemplate, updataset, 
      accurate)
    values (#{addressid,jdbcType=INTEGER}, #{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, 
      #{area,jdbcType=INTEGER}, #{street,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, 
      #{describes,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{dateset,jdbcType=TIMESTAMP}, 
      #{personalid,jdbcType=INTEGER}, #{istemplate,jdbcType=INTEGER}, #{updataset,jdbcType=TIMESTAMP}, 
      #{accurate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alf.highest.personal.pojo.BwtConnectorAddress" >
    insert into bwt_connector_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        addressid,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="describes != null" >
        describes,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="dateset != null" >
        dateset,
      </if>
      <if test="personalid != null" >
        personalid,
      </if>
      <if test="istemplate != null" >
        istemplate,
      </if>
      <if test="updataset != null" >
        updataset,
      </if>
      <if test="accurate != null" >
        accurate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressid != null" >
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        #{street,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="dateset != null" >
        #{dateset,jdbcType=TIMESTAMP},
      </if>
      <if test="personalid != null" >
        #{personalid,jdbcType=INTEGER},
      </if>
      <if test="istemplate != null" >
        #{istemplate,jdbcType=INTEGER},
      </if>
      <if test="updataset != null" >
        #{updataset,jdbcType=TIMESTAMP},
      </if>
      <if test="accurate != null" >
        #{accurate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alf.highest.personal.pojo.BwtConnectorAddress" >
    update bwt_connector_address
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="describes != null" >
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="dateset != null" >
        dateset = #{dateset,jdbcType=TIMESTAMP},
      </if>
      <if test="personalid != null" >
        personalid = #{personalid,jdbcType=INTEGER},
      </if>
      <if test="istemplate != null" >
        istemplate = #{istemplate,jdbcType=INTEGER},
      </if>
      <if test="updataset != null" >
        updataset = #{updataset,jdbcType=TIMESTAMP},
      </if>
      <if test="accurate != null" >
        accurate = #{accurate,jdbcType=VARCHAR},
      </if>
    </set>
    where addressid = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alf.highest.personal.pojo.BwtConnectorAddress" >
    update bwt_connector_address
    set province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      street = #{street,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      dateset = #{dateset,jdbcType=TIMESTAMP},
      personalid = #{personalid,jdbcType=INTEGER},
      istemplate = #{istemplate,jdbcType=INTEGER},
      updataset = #{updataset,jdbcType=TIMESTAMP},
      accurate = #{accurate,jdbcType=VARCHAR}
    where addressid = #{addressid,jdbcType=INTEGER}
  </update>
  <select id="selectAllPersonalRegion" parameterType="java.lang.Integer" resultType="com.alf.highest.personal.pojo.BwtConnectorAddress">
  	SELECT 
		(SELECT p.areaname FROM `pb_area` p WHERE p.`id` = b.province) provincename,
		(SELECT p.areaname FROM `pb_area` p WHERE p.`id` = b.city) cityname,
		(SELECT p.areaname FROM `pb_area` p WHERE p.`id` = b.area) areaname,
		(SELECT p.areaname FROM `pb_area` p WHERE p.`id` = b.street) streetname,
	b.* FROM `bwt_connector_address` b WHERE b.`personalid` = ${personalid}
  </select>
  <select id="selectAllAddressSum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	SELECT COUNT(*) FROM `bwt_connector_address` WHERE personalid = ${personalid}
  </select>
</mapper>